[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
